body{
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(1,1,88,0.82),rgb(1,1,29));
    transition: 1s all ease-in-out;*/
}
#init{
    margin-top: 2rem;
    background-color: rgb(36, 121, 247);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
}

.needhelp{
    font-size: 10px;
    font-weight: 10rem;
    font-family: bold;
}

/*.csimg {
    max-width: 10px;
    max-height: 10px;
    height: 100%;
    width: 100%;
}*/

.desc{
    float: right;
    margin-top: 35%;
    margin-right: 15px;

}

.text{
    font-size: 65px;
    font-weight: 800;
    color: cadetblue;
    margin: 0;
}
/*.parent{
    position: relative;
    height: 100%;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.child{
    box-shadow: 0 0 2px black;
    border-radius: 15px;
    height: 30rem;
    width: 20rem;
    margin: auto;
    background: white;

}
.header img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 0.5rem;
    border: 1px solid rgb(231,231,231);
    padding: 5px;
}
.header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background: rgb(5, 145, 238);
    width: 20rem;
    padding: 5px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 2px rgb(175,175,175);
}
.h-child{
    display: flex;
    align-items: center;
}
.header span{
    font-size: 17px;
    margin: 0;
    padding: 0;
}
.refBtn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.name{
    font-weight: 600;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 16rem;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: indianred;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 3px rgb(153,153,153);
}
#chat-box{
    position: relative;
    top: 54px;
    padding: 8px 10px;
    font-size: 12px;
    height: 25.6rem;
    overflow: auto;
    background: whitesmoke;
    text-align: center;
    width: auto;
     border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* these classes will be used in javascript file */
.msg{
    background:rgb(97, 96, 96);
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 14px;
    color: white;
    box-shadow: 0 0 5px rgb(226,226,226);
    max-width: 65%;
    text-align: left;
    /* border: 1px solid blueviolet; */

}
.test{
    text-align: right;
    margin: 20px 0;
}
.rep{
        background-color: rgb(36, 121, 247);

    color: white;
    /* border: 1px solid blueviolet; */
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 14px;
    box-shadow: 0 0 5px rgb(211,211,211);
}
.opt{
    padding: 5px 20px;
    columns: lightsalmon;
    /* border: 1px solid blueviolet; */
    border-radius: 1rem;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background: white;
    text-align: center;
    font-size: 14px;
    background-color: rgb(36, 121, 247);
    color: white;
}
.link{
    text-decoration: none;
    display: block;
    text-align: center;
    color: aliceblue !important;
        background-color: rgb(36, 121, 247);

    color: black;
    /* border: 1px solid blueviolet; */

}
.m-link{
    color: white;
}
.link:active{
        background-color: rgb(36, 121, 247);

    /* border: 1px solid blueviolet; */
    color: white;
}

